<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <div class="container-fluid"> -->
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                [{% for childlink in linklists[child_list_handle].links %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ childlink.url }}">
                    {{ childlink.title | escape }}
                  </a>
                </li>
                {% endfor %}]
              </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            Cart <span id="numberOfCartItems" class="badge bg-danger rounded-pill">0</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- settings > checkout > Accounts are required -->
        <!-- 14 Routes Attributes:
          routes.root_url
          routes.account_url
          routes.account_login_url
          routes.account_register_url
          routes.account_addresses_url
          routes.collections_url
          routes.all_products_collection_url
          routes.search_url
          routes.cart_url
          routes.cart_all_url
          routes.cart_clear_url
          routes.product_recommendations_url
        -->
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_url }}">{{ 'general.Layout.account_text' | t }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{{ routes.account_logout_url }}">{{ 'general.Layout.logout_text' | t }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link"  href="{{ routes.account_login_url }}">{{ 'general.Layout.login_text' | t }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{{ routes.account_register_url }}">{{ 'general.Layout.register_text' | t }}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <form class="d-flex" action="/search" method="GET" role="search" aria-label="Search">
        <input class="form-control me-2" type="search" placeholder="Search" name="q" value="{{ search.terms | escape }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


